* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { font-family: Arial, Helvetica, sans-serif; }

#container {
    display: flex;
    justify-content: center;
    background-color: rgb(91, 189, 151);
    width: 25rem;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 10px;
}

.barred { text-decoration: line-through; }

li { 
    list-style: none; 
    display: flex;
    align-items: center;
    margin: 0.2rem;
}

.delete {
    background-color: red;
    color: white;
    padding: 0.2rem, 0.4rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    border: none;
    width: 1rem;
    aspect-ratio: 1;
}

#check { margin-right: 0.5rem; }

.controls {
    margin: auto;
    width: 25rem;
    text-align: center;
}

#addTask { margin-left: 0.4rem; }