<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>ToBoo List</title>
</head>
<body>
    <div id="app">
        <div id="container">
            <ul>
                <li v-for="(item, i) in list" :key="i" :class="{barred: list[i].done}">
                    <button class="delete" @click="removeTask(i)"><i class="fa-solid fa-xmark"></i></button>
                    <input type="checkbox" id="check" @click="taskStatus(i)">
                    {{item.task}}
                </li>
            </ul>
        </div>
        <div class="controls">
            <input type="text" v-model="newTask">
            <button id="addTask" @click="addTask()">Aggiungi attività</button>
        </div>

    </div>
    <script src="js/main.js"></script>
</body>
</html>